{{!-- Selected icon !--}}
<i 
  class="selected-icon material-icons {{if isSelected "visible"}} {{unless model.canChange "disabled"}}"
>
  check_circle
</i>

{{!-- Clickable area !--}}
<div {{action "toggleSelected"}}
  class="mdc-card__primary-action"
>
  {{!-- Title !--}}
  <div class="tentacle-title-container mdc-card__actions">
    <h2 class="tentacle-title mdc-typography--headline6">{{model.title}}</h2>
  </div>
  
  {{!-- Picture !--}}
  <div
    class="mdc-card__media tentacle-image" 
    style={{imageStyle}}
  >

  </div>
</div>

{{!-- Description !--}}
<div 
  class="tentacle-description mdc-card__actions mdc-typography--subtitle2 {{if isExpanded "expanded"}}"
>
  {{#each model.description as |descLine|}}
    <div class="line mdc-typography--body1">
      {{descLine}}
    </div>
  {{/each}}
</div>

{{!-- Description Toogle !--}}
<div class="mdc-card__actions">
  <button {{action "toogleExpanded"}}
    class="expand mdc-button mdc-card__action mdc-card__action--button"
    title="More options" 
  >
    {{if isExpanded "COLLAPSE" "EXPAND"}}
  </button>
</div>